{% extends 'create.html' %} {% block replace %}
<center>
  <div class="jumbotron">
    <hr class="my-4" />
  </div>
</center>
{% if music_files %} {% for song in music_files %}
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{ song.music_name }}</h5>
    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
    <form action="play_song/" method="POST">
      {% csrf_token %}
      <p>
        <form action="/play_song/" method="POST"> 
          <input type="hidden" name="file_uuid" value="{{song.uuid}}">
          <input type="submit" class="glyphicon glyphicon-play" value="Play">
        </form> 
      </p>
    </form>
  </div>
</div>
<br />

{% endfor %} {% else %}
<div>NO SONGS AT THIS MOMENT !!</div>
{% endif %} {% endblock %}
