{% extends 'create.html' %} {% block replace %}
<center>
  <div class="jumbotron">
    <!-- <h1 class="display-4"><br />Hello {{ user_pr.fname }}</h1> -->
    <!-- <p class="lead">its an awesome profile picture</p> -->
    <hr class="my-4" />
    <!-- <img
      src="{{ user_pr.music_file.url }}"
      class="image_responsive"
      height="100px"
      width="100px"
    /> -->
    <p>{{user_pr.music_file.url}} <br /></p>
    <!-- <p>
      {{ user_pr.music_file.url }}<br />
      You have learned some awesome technologies like {{ user_pr.technologies }}
    </p> -->
  </div>
</center>
<!-- {{ song.music_file.url}} -->
{% if music_files %} {% for song in music_files %}
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{ song.music_name }}</h5>
    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
    <form action="play_song/" method="POST">
      {% csrf_token %}
      <p>
        PLAY:
        <a href="#">
          <span class="glyphicon glyphicon-play"></span>
        </a>
      </p>
    </form>
    <!-- <a href="#" class="card-link">Card link</a> -->
    <!-- <a href="#" class="card-link">Another link</a> -->
  </div>
</div>
<br />

{% endfor %} {% else %}
<div>NO SONGS AT THIS MOMENT !!</div>
{% endif %} {% endblock %}
